* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    transition: text-decoration 1s;
}

.main-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 25px;
}

.main-images{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main-images img{
    border: 1px solid rgb(48, 130, 231);
    border-radius: 6px;
    flex: 1;
    transition: transform 250ms;
    margin: 20px;
    margin-bottom: 0px;
}

.main-images figcaption{
    font-size: 12px;
    text-align: center;
    width: 200px;
    color: rgb(59, 54, 54);
    opacity: 0.8;
}

figcaption:hover{
    opacity: 1;
}

.main-images img:hover{
    transform: scale(1.04);
    cursor: pointer;
}

figure{
    margin-bottom: 50px;
    position: relative;
}



.main-info{
    margin-bottom: 3px;
}