img{
    width: 200px;
    height: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-list li{
    list-style-type: none;
    flex: 1;
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px 20px 0;

}


#logo{
    flex: 4;
    font-size: 24px;
    color: #f9faf8;
    margin-left: 10px;
}

#logo-img{
    height: 70px;
}

.nav-area{
    background-color: #1F2937;
}

.sub-nav-head{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: 400px;
}

.sub-nav-no-img{
    display: flex;
    flex-direction: column;
}

.sub-nav-no-img * {
    color: white;
    margin-bottom: 10px;
}

.sub-nav-par p{
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    margin-right: 120px;

}

.sub-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 50px;
    padding: 20px;
}

.sub-sign-btn *{
    background-color: #3882f6;
    border-radius: 4px;
    width: 110px;
    height: 30px;
    border: none;
}

.sub-sign-btn button:active,
.sub-sign-btn button:hover
{
    background-color: #7e99c5;
    transition: background-color 750ms;
    cursor: pointer;
}

.bottom-nav{
    color: white;
    background-color: #1f2937;
    text-align: center;
    padding: 30px;
}

.sub-nav img{
    border: 1px solid rgb(48, 130, 231);
    border-radius: 6px;
}

#logo-img:hover{
    cursor: pointer;
    transform: rotate(360deg) scale(1.2);
    transition: transform 250ms;
}