.wrapperDiv{
    display: grid;
    grid-template-columns: auto;
    gap: .01rem;
    margin: .5rem;
    justify-items: start;
}

button{
    margin: .2rem;
    font-size: .9rem;
    padding: .5rem;
    background-color: #787d77;
    color: white;
}

form{
    padding: 2rem;
    background-color: #ececf0;
    border-radius: 5px;
}

button{
    font-weight: 400;
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    transition: outline-color ease-in 10ms;
    outline: 2px solid transparent;
}

button:hover{
    cursor: pointer;
    outline-color: coral;
}

/* Tablets and larger */
@media (min-width: 768px) {
    div.formDiv{
        grid-template-columns: auto auto;
    }

    .wrapperDiv{
        grid-template-columns: 10rem auto;
    }
}

/* Desktops and larger */
@media (min-width: 1024px) {
    div.formDiv{
        grid-template-columns: auto auto auto;
    }

    .wrapperDiv{
        grid-template-columns: 10rem 10rem;
    }
}