* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Serif, sans-serif;
    font-size: 1rem;
}

/*region Side styles*/
body {
    background-color: rgba(103, 101, 101, 0.2);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: .8rem;
}

button {
    color: white;
    border: none;
    border-radius: .4rem;
    padding: .8rem;
    width: min(10%, fit-content);
    background-color: rgba(59, 59, 59, 0.8);
    transition: background-color .5s ease-out;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    cursor: pointer;
}

#mainHeader {
    font-size: 2rem;
    font-weight: 500;
}

.addBookDiv {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBook {
    /*position: absolute;*/
    /*top: 25%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(59, 59, 59, 0.8);
    padding: 1.2rem;
    border-radius: .2rem;
    color: whitesmoke;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: fit-content;
    transition: background-color .5s ease-out, font-weight 200ms;
}

#addBook:hover {
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.9);
}


footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    margin-top: auto;
    text-align: center;
    width: 100%;
    padding: 2rem;
    background-color: #8888d2;
    color: whitesmoke;
    font-size: 1.2rem;
}

/*endregion*/

/*region Dialog styling*/
::backdrop {
    background-image: linear-gradient(
        45deg,
        #b9feff,
        #6185b3,
        #0e4691
    );
    opacity: .95;
}

dialog {
    font-family: Roboto;
    margin: 5rem auto auto;
    padding: 1rem;
    border: none;
    border-radius: .2rem;
}

/*endregion*/

/*region Form styling*/
.formInput {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr;
}

.formInput div {
    margin-bottom: 1.2rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    padding: .4rem;
    border: black;
    border-radius: .5rem;
    background-color: rgba(54, 140, 210, 0.2);
}


#checkReadStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formButtons button {
    width: 20%;
}

/*endregion*/

.bookCardContainer {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    padding: 2rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.bookCard {
    border: none;
    border-radius: .4rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);

    width: 100%;
    border-left: purple 8px solid;
}

.bookCard p {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.bookReadStatus {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 2px;
    padding: .5rem;
}

.status {
    margin: .6rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .4rem;
    border-radius: .4rem;
}

.read {
    background-color: rgba(0, 255, 0, 0.3);
}

.notRead {
    background-color: rgba(255, 0, 0, 0.3);
}

@media (min-width: 850px) {
    .bookCardContainer {
        grid-template: 1fr / repeat(3, 1fr);
    }
}

@media (min-width: 1650px) {
    .bookCardContainer {
        grid-template: 1fr / repeat(4, 1fr);
    }
}