.heroCardsContainer{
    display:grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.heroCardDiv{
    background-color: #ad9f9f;
    padding: 1.2rem;
    border-radius: 15px;
}

.heroCardDiv:hover{
    background-color: #9ca8bc;
    filter: drop-shadow(0 0 0.2rem #d02323);
    cursor: pointer;
}

.heroImage{
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.heroCount{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;

}

@media (min-width: 1320px){
    .heroCardsContainer{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 1320px) and (min-width: 990px){
    .heroCardsContainer{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 990px) and (min-width: 720px){
    .heroCardsContainer{
        display: grid;
        grid-template-columns: auto auto;
    }
}